.svn
*.suo
*.ncb
*.scf
*.user
_ReSharper.*
_UpgradeReport_Files
Lint
ipch
Debug
Release
x64
*.lnt
*.o
*.cache
*.download
*.obj
*.lib
*.dll
*.exe
*.pch
*.lastcodeanalysissucceeded
*.CodeAnalysisLog.*
*.pdb
*.ilk
*.lnk
UpgradeLog.*
*.msi
*.exe
StyleCop.Cache
*.sln.docstates
*.opensdf
*.sdf
*.ReSharper
StyleCop.Cache
*/bin/*.XML
*/bin/*.xml
*.old
*.lph
*.zip
*.dotCover